@import "./../../styles/vars";

.Form {

    &__content {
        background: #1E1D1D;
        padding: 13px 21px 61px 11px;
        position: relative;

        @media(min-width: 768px) {
            padding: 30px 38px 50px 28px;
        }

        @media(min-width: 1366px) {
            padding: 23px 70px 117px;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            background-image: url("./../../images/other/line-icon.svg");
            background-size: cover;

            height: 161.00000264609668px;
            width: 196.00000797025805px;
            top: -45px;
            right: 0;
            z-index: 1;

            @media(min-width: 768px) {
                height: 333.00001486489674px;
                width: 405.0000164691557px;
                top: -70px;
            }


            @media(min-width: 1366px) {
                top: -55px;
                right: 35px;
                height: 581px;
                width: 715px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: 2;
            right: 0px;
            top: -60px;
            background-image: url("./../../images/img/img-1.png");
            width: 158px;
            height: 105px;
            background-size: cover;

            @media(min-width: 768px) {
                width: 326px;
                height: 217px;
                top: -110px;
            }

            @media(min-width: 1366px) {
                right: 33px;
                width: 525.53px;
                height: 351px;
            }
        }
    }

    &__titles {
        margin-bottom: 30px;

        @media(min-width: 768px) and (max-width: 1365px) {
            margin-bottom: 38px;
        }
    }

    &__text {
        width: 240px;
        font-size: 16px;
        line-height: 27px;
        color: $white;
        margin-bottom: 30px;

        @media(min-width: 768px) {
            width: 299px;
            font-size: 18px;
            line-height: 31px;
            margin-bottom: 36px;
        }

        @media(min-width: 768px) and (max-width: 1365px){
            padding-left: 6px;
            margin-bottom: 14px;
        }

        @media(min-width: 1366px) {
            width: 524.94px;
            font-size: 24px;
            line-height: 40px;
            margin-bottom: 50px;
        }

        &--text {
            font-size: 14px;
            line-height: 17px;
            color: $white;
            display: none;

            @media(min-width: 768px) {
                display: block;
            }

            @media(max-width: 1365px){
                padding-left: 18px;
            }

            &.Form__text {
                display: block;
                margin-top: -4px;
                margin-bottom: 10px;

                @media(min-width: 768px) {
                    display: none !important;
                }
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: relative;
        z-index: 3;

        &>* {
            flex-shrink: 0;
        }

        @media(min-width: 768px) {
            flex-direction: row;
            margin-bottom: 20px;
            column-gap: 30px;
            align-items: flex-end;
        }

        &__button {
            outline: none;
            border: 1px solid $green-1;
            padding: 10px 0px 14px;
            font-size: 28px;
            line-height: 28px;
            color: $green-1;
            width: 100%;
            background: transparent;

            @media(min-width: 768px) {
                width: auto;
                padding: 5px 21px 9px;
                // margin-left: 12px;
            }

            @media(min-width: 1366px) {
                margin-left: 60px;
                padding: 12px 52px 18px;
            }
        }
    }

    label {
        display: inline-block;
    }

    .input {
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #4B4A4A;
        padding: 13px 12px;
        font-size: 16px;
        line-height: 1;
        color: $white;
        width: 100%;

        @media(min-width: 768px) {
            width: 147px;
        }

        @media(min-width: 1366px) {
            width: 200.98px;
        }

        &[type*="number"] {
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }
}