@import "./../../styles/index.scss";

.step {
    width: 100%;
    color: $white !important;
    display: inline-flex;
    column-gap: 20px;
    align-items: flex-start;

    @media(min-width:768px) {
        max-width: 370px;
    }

    &__number {
        border-radius: 50%;
        border: 2px solid $green-1;
        padding: 3px 11px 6px;
        
        font-size: 20px;
        line-height: 1;

        @media(min-width: 768px) {
            font-size: 24px;
            padding: 9px 16px 9px;
        }

        .title-3{
            font-weight: 400;
        }
    }

    &__body {
        width: 100%;
        font-weight: 300;
        font-size: 18px;
        line-height: 31px;

        @media(min-width: 768px) {
            font-size: 24px;
            line-height: 40px;
        }

        @media(min-width: 1366px) {
            font-size: 24px;
        }
    }

    &.work--step {
        width: 311px;
        padding: 30px 60px 40px 20px;
        background: #1E1D1D;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.08);

        @media(min-width: 768px) {
            padding: 30px 30px 40px;
        }

        @media(min-width: 1366px) {
            padding: 30px 60px 40px 30px;
        }

        .step__number {
            margin-top: 10px;
        }
    }

    &.step-block {
        width: 311px;
        padding: 13px 32px 5px 27px;
        display: inline-block;

        .paragraph-title {
            font-weight: 700;
            font-size: 50px;
            line-height: 60px;
            text-transform: uppercase;

            color: rgba(70, 70, 70, 0.15);

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &.padding-refactoring {
            padding-left: 0;
            padding-right: 0;
        }
    }
}