.subtitle {
    line-height: 1;
    font-size: 22px;
    color: #02E602;
    position: absolute;
    bottom: 7px;
    left: 6px;
    transform: translateY(-50%);

    @media(min-width: 768px) {
        font-size: 30px;
        bottom: -7px;
    }

    @media (min-width: 1366px) {
        font-size: 48px;
        bottom: 13px;
    }
}

.section-titles {
    position: relative;

    @media(min-width: 768px) and (max-width: 1365px) {
        padding-left: 6px;
    }

    .paragraph-title {
        @media(min-width: 768px) and (max-width: 1365px) {
            padding-top: 9px;
            padding-left: 5px;
        }
    }
}