// @import "./fonts/index.scss";
@import "./styles/vars";

.inner {
    padding: 60px 0;

    @media (min-width: 768px) {
        padding: 84px 0 80px;
    }

    @media (min-width: 1366px) {
        padding: 85px 0 110px;
    }

    &>*+* {
        margin-top: 60px;

        @media(min-width:768px) {
            margin-top: 80px;
        }

        @media(min-width: 1366px) {
            margin-top: 110px;
        }
    }
}

%mt {
    margin-top: 20px;

    @media (min-width: 768px) {
        margin-top: 43px;
    }

    @media (min-width: 1366px) {
        margin-top: 60px;
    }
}

%imgBg {
    background-position: center;
    background-size: cover;
}

.advantage {
    &__cards {
        @extend %mt;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px 17px;
        position: relative;

        @media(min-width: 768px) and (max-width: 1365px) {
            gap: 45px 20px;
        }

        &::before {
            content: "";
            display: none;
            position: absolute;
            z-index: -2;
            top: -80px;
            right: -22px;
            width: 265px;
            height: 265px;
            background-image: url("./images/other/bg-drone-icon.svg");
            @extend %imgBg;

            @media(min-width: 1366px) {
                display: inline-block;
            }
        }
    }
}

.product {
    &__cards {
        @extend %mt;
        overflow: hidden;
        display: flex;
        column-gap: 13px;

        @media(min-width: 768px) {
            column-gap: 20px;
        }

        @media(min-width: 768px) and (max-width: 1365px) {
            padding-left: 8px;
        }

        @media(min-width:1366px) {
            margin-right: 0;
            justify-content: space-between;
        }

        &>* {
            flex-shrink: 0;
        }

        .card__product {
            max-width: 422px;
        }
    }

    &-container {
        @media(min-width: 1366px) {
            padding-left: 15px !important;
            padding-right: 15px !important;
            width: $container-width !important;
        }
    }

    .section-titles {
        @media(min-width: 768px) and (max-width: 1365px) {
            padding-left: 3px;

        }

        .paragraph-title {
            @media(min-width: 768px) and (max-width: 1365px) {
                padding-left: 2px;
            }
        }
    }

    &__titles {
        @media(min-width: 768px) and (max-width: 1365px) {
            padding-top: 5px;
        }
    }
}

.service {

    background-image: url("./images/other/service-bg.jpeg");
    @extend %imgBg;
    position: relative;

    @media(min-width: 768px) {
        padding: 71px 0 83px 10px;
    }

    @media(min-width: 1366px) {
        padding: calc(154px / 2) 0;
    }

    &::before {
        content: "";
        background-image: url("./images/other/service-overflow.svg");
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        bottom: 0;
        max-width: 70%;
        width: 100%;
        @extend %imgBg;
        background-position: top right;
    }

    &__content {
        position: relative;
        z-index: 1;
        width: 100%;

        @media(min-width: 768px) {
            max-width: 321px;
        }

        @media(min-width: 1366px) {
            max-width: 763px;
        }
    }

    &__title {
        font-weight: 400 !important;
        color: $white !important;
        font-size: 22px !important;
        line-height: 1 !important;

        @media (min-width: 768px) {
            font-size: 30px !important;
            margin-bottom: 29px;
        }

        @media(min-width: 1366px) {
            font-size: 72px !important;
            line-height: 48px !important;
            margin-bottom: 50px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: $white;
        margin-bottom: 30px;

        @media(min-width: 768px) {
            font-size: 18px;
            line-height: 31px;
            margin-bottom: 43px;
        }

        @media(min-width: 1366px) {
            font-size: 34px;
            line-height: 54px;
            margin-bottom: 70px;
        }
    }

    &__button {
        font-weight: 400;
        font-size: 22px;
        line-height: 1;
        color: $green-1;
        border: 1px solid $green-1;
        width: 264px;
        padding: 20px 0 19px;
        text-decoration: none;
        text-align: center;

        @media(min-width:768px) {
            padding: 17px 0 16px;
            font-size: 24px;
            width: 223px;
        }

        @media(min-width: 1366px) {
            width: 288px;
            padding: 14px 0 20px;
            font-size: 28px;
        }
    }
}

.about-company {
    &__content {


        @media(min-width: 768px) and (max-width: 1365px) {
            padding-top: 53px !important;
        }

        @media(min-width: 1366px) {
            padding-right: 111px;
        }
    }

    .section-titles {
        @media(min-width: 768px) and (max-width: 1365px) {
            padding-left: 2px;
        }

        .paragraph-title {
            @media(min-width: 768px) and (max-width: 1365px) {
                padding-top: 5px;
                padding-left: 2px;
            }
        }
    }
}

.work {

    &__titles {
        @media(min-width: 768px) {
            margin-bottom: 10px;
            padding-top: 40px;
        }

        @media(min-width: 1366px) {
            margin-bottom: 70px;
            padding-top: 0;
        }
    }

    &__list {
        font-weight: 300;
        font-size: 24px;
        line-height: 39px;
        color: $white;

        &s {
            display: flex;


            @media(min-width: 768px) and (max-width: 1365px) {
                width: 738px;
                padding-left: 124px;
                padding-top: 22px;
                column-gap: 101px;
            }

            @media(min-width: 1366px) {
                width: 532px;
                column-gap: 75px;
            }
        }
    }

    &__row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        @media(min-width: 1366px) {
            flex-direction: row;
        }
    }

    &__imageholder {

        @media(min-width: 768px) {
            margin-top: -409px;
            margin-left: -3px;
            position: relative;
            z-index: -2;
        }

        @media(min-width: 1366px) {
            width: 756px;
            height: 756px;
            margin-top: -400px;
            margin-left: 0;
            overflow: hidden;
        }

        .Image {
            @media(min-width: 768px) {
                transform: scale(1);
            }

            @media(min-width: 1366px) {
                transform: scale(1.3);

                position: absolute;
                bottom: 0;
                left: 99px;
            }
        }
    }
}

.client {


    @media(min-width: 1366px) {
        padding-bottom: 110px;
    }



    &__icon {
        &s-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 25px;
        }
    }

    &s {
        @media(min-width: 768px) and (max-width: 1365px) {
            margin-top: 65px !important;
        }

        .section-titles {

            @media(min-width: 768px) and (max-width: 1365px) {
                padding-left: 0 !important;
                margin-left: -3px;
                margin-bottom: 32px;
            }

            .paragraph-title {
                @media(min-width: 768px) and (max-width: 1365px) {
                    padding: 0;
                }
            }
        }
    }
}

.home-news {

    @media(min-width: 768px) and (max-width: 1365px) {
        margin-top: 64px;
    }

    @media(min-width:1366px) {
        padding-bottom: 110px;
    }

    .section-titles {
        @media(min-width: 768px) and (max-width: 1365px) {
            padding-left: 0;
        }
    }

    &__row {
        display: flex;
        padding-top: 62px;
        column-gap: 20px;

        @media(min-width: 768px) {
            padding-top: 33px;
            height: 636px;
        }

        @media(min-width: 1365px) {
            padding-top: 62px;
            height: 669px;
        }

        &>* {
            flex-shrink: 0;
        }
    }

    .card.news-card {
        background: transparent;

        @media(min-width: 768px) and (max-width: 1365px) {
            padding-left: 8px;
        }
    }

    &__container {
        width: $container-mobile;
        overflow: hidden;

        @media(min-width: 768px) and (max-width: 1365px) {
            width: $container-table;
        }
    }
}

.pagination {
    text-align: center;

    @media(max-width: 1365px) {
        padding-top: 27px;
    }

    @media(max-width: 767px) {
        padding-top: 30px;
    }

    @media(min-width: 1366px) {
        display: none;
    }

    &>*+* {
        margin-left: 20px;

        @media(min-width: 768px) {
            margin-left: 18px;
        }
    }

    &__item {
        background: #464646;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: none;
        outline: none;

        &.active {
            background: $white;
        }
    }
}

/*

    @media(min-width: 320px) {
       
    }

    @media(min-width: 768px) {
        
    }

    @media(min-width: 1366px) {
        
    }

*/